/*
Autores: Anônimo 1 e Anônimo 2;
Data de criação: 10/02/2014
Data de modificação: 05/02/2016

---Info:
Resolução aceitável: 1024x768 ou >
*/

/* Configurações gerais */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html{
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,html,body{
  padding:0;
  margin:0;
}

html,body{
  height:100%;
}
/* Fim - Configurações gerais */

/* Cabeçalho */
header{
  width:100%;
  height:8%;
  background: #131313;
}

header .logo{
  float:left;
  width:10%;
  height:100%;
}

header h1.titulo{
  float:left;
  color:#fffcfc;
  font-size: 1.5em;
  width:33%;
  height:100%;
  line-height:1.8em;
  padding-left:2%;
  background: rgba(94, 94, 94, 0.72);
  /*largura total 33+2 = 35% ; segue a mesma lógica nos outros seletores.*/
}

header nav.menuprincipal{
  float:left;
  width:35%;
  height:100%;
  border-left:1px solid #fffcfc;
  border-right:1px solid #fffcfc;
}

.menuprincipal ul{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

.menuprincipal ul li{
  display: block;
  float:left;
  width:50%;
  height:100%;
  color:#fffcfc;
  font-size: 14px;
  font-size: 1em;
  line-height:3em;
  text-align: center;
  cursor: pointer;
}

.menuprincipal .setamenu{
  font-size:0.6em;
  position:relative;
  bottom:5%;
}

.menuprincipal ul li ul{
  display: none;
  height: auto;
  position:relative;
}

.menuprincipal ul li:hover{
  background-color: rgb(79, 81, 82);
}

.menuprincipal ul li:hover ul{
  display:block;
}

.menuprincipal ul li ul li{
  background:rgb(68, 66, 65);
  width:100%;
  height:auto;
  font-size:0.8em;
}

.areausuario{
  float:left;
  height:100%;
  width:19%;
}

.areausuario span{
    display: inline-block;
    margin-left:12%;
    margin-top: 5%;
    text-decoration: underline;
    color:rgba(233, 233, 232, 0.83);
    font-size: 0.8em;
}

.areausuario span:hover{
  color:rgba(233, 233, 232, 0.68);
  cursor: pointer;
}

.areausuario button{
  margin-left:6%;
  width:20%;
  height:40%;
  background:rgb(217, 74, 36);
  outline: 0;
  border: 0;
  color:#fffcfc;
  cursor: pointer;
}
/* Fim - Cabeçalho */

/* Conteúdo */
.conteudo{
  height:87%;
  width:100%;
  overflow:auto;
}


.conteudo h1{
  padding-top:2%;
  padding-left:4%;
}

.conteudo section{
  height:auto;
  padding-top:2%;
  padding-bottom:3%;
}

.conteudo section *:not(legend){
  margin:0px auto;
}

.conteudo section h2{
  margin-top: 15px;
  margin-bottom: 5px;
}

/*Início da área de formulário*/

.conteudo fieldset{
  width:30%;
  border-color:rgba(93, 93, 93, 0.78);
  border-style: solid;
}

.conteudo fieldset span{
  font-size: 0.7em;
  color: #c03744;
}

.conteudo fieldset legend{
  text-shadow: 0px 0px 2px #8e8787;
}

.conteudo fieldset table{
  margin:0px auto;
}

.conteudo table button[type=submit]{
  border-width:0px;
  background: rgb(21, 153, 93);
  width:80px;
  height:25px;
  margin:0px 5px 0px 5px;
}

.conteudo table button[type=reset]{
  border-width:0px;
  background: rgb(227, 54, 54);
  width:80px;
  height:25px;
  margin:0px 5px 0px 5px;
}

input,select,textarea{
  width:100%;
}

/*Início da área de registrados*/

.conteudo h2{
  text-align:center;
  margin:20px 0px 10px 0px;
}

form#gerarpdf{
  position: absolute;
  width: 100%;
  z-index:0;
  height: 0;
}

button.b_imprimir{
  height:35px;
  cursor: pointer;
  background-color:#131313;
  color:#fff;
  border:0;
  outline:0;
  position:relative;
  float:right;
  padding:10px 20px;
  margin-left:35px;
  box-shadow: 0px 0px 2px #131313;
}

button.b_imprimir::before{
  content:" ";
  width:35px;
  height:100%;
  position:absolute;
  display:block;
  top:0px;
  left:-36px;
  font-size:16px;
  font-weight:bold;
  color:#8fd1ea;
  background-image: url("http://www.extensions.in.th/amitiae/2013/prefs/images/print_icon.png");
  background-size: 100% 100%;
  border-top-left-radius: 6px ;
  border-bottom-left-radius: 6px ;
  box-shadow: 0px 0px 3px #131313;
}

.conteudo .registrados{
  border:1px solid #131313;
  border-collapse: collapse;
  box-shadow: 0px 0px 3px rgb(117, 123, 163);
}

.registrados th, .registrados td, .registrados tr{
  border:1px solid #131313;
  border-collapse: collapse;
}

.registrados th{
  background: #131313;
  color: #ffffff;
  border-color:#fff;
}

.registrados tbody tr:nth-child(even){
  background: rgb(218, 218, 218);
}

.registrados tbody tr:hover{
  background: rgb(182, 190, 230);
}

.conteudo table img, .conteudo table input[type="image"]{
    width:20px;
    height: 20px;
}

/*Início da área de mensagens*/

.conteudo .mensagem{
  width: 30%;
  min-height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 2px #131313;
  background-color: rgba(209, 209, 209, 0.12);
}

.mensagem h3.sucesso{
  color: rgb(45, 221, 100);
}

.mensagem h3.erro{
  color: rgb(221, 72, 45);
}

.mensagem img{
  margin: 0px 5px 0px 0px;
  padding: 0;
  position: relative;
  top:4px;
}

.mensagem p{
  text-indent: 30px;
}

.mensagem a{
  text-decoration: none;
}

.mensagem a:hover{
  color:#131355;
}
/* Fim - Conteúdo*/

/* Rodapé */
footer{
  height:5%;
  width:100%;
  background: rgba(103, 103, 103, 0.9);
  text-align:center;
  color: rgb(237, 238, 247);
  line-height:2em;
}
/* Fim - Rodapé */
